:root {
  --main-bg-color: #ffffff;
  --primary-brand: #4d5ae5;
  --dark-text: #2e2f42;
  --normal-text: #434455;
  --hero-bgcolor: #2e2f42;
  --hover-btn: #404bbf;
  --logo-footer: #f4f4fd;
  --border-work-item: #e7e9fc;
  --icons-customers: #8e8f99;
  --icons-hover-footer: #31D0AA;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.list {
  list-style: none;
  text-decoration: none;
}
.container {
  width: 1128px;
  margin-left: auto;
  margin-right: auto;
}
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  background-color: var(--main-bg-color);
}
/* --------------------Header navigation-------------------------- */
.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);

  margin-right: 76px;
  text-decoration: none;
}
.logo > span {
  width: 71px;
  color: var(--dark-text);
}
.site-nav {
  display: flex;
}
.site-nav .item + .item {
  margin-left: 40px;
}

.header-link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-text);

  padding: 24px 0px 24px 0px;
}
.header-address {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--normal-text);
}
.header-address + .header-address {
  margin-left: 40px;
}

.contacts {
  margin-left: auto;
}

/*-----------------------Hero-------------------------------------------------*/
.hero-content {
  display: block;
  padding-top: 188px;
  height: 120px;
  width: 496px;
  justify-content: center;

  margin-right: auto;
  margin-left: auto;
}
.hero {
  background: var(--hero-bgcolor);
  height: 600px;
  width: auto;
  text-align: center;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-opt.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--main-bg-color);

  margin-bottom: 48px;
}
.hero-btn {
  padding: 16px 32px;
  background: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: var(--main-bg-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-btn);
}
/*------------------------Main goals-----------------------------------------*/
.goals-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-text);
  margin-bottom: 8px;
}

.goals-pic {
  display: flex;
  margin-bottom: 8px;
  height: 112px;
  width: 100%;
  background: #f4f4fd;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.goals-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--normal-text);
}
.goals-list {
  display: flex;
  margin: 120px 0px 120px 0px;
}
.goals-list-item + .goals-list-item {
  margin-left: 24px;
}
/*----------------------------------What we`re doing----------------------------*/
.work-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-text);
}
.work-list {
  display: flex;
  margin-top: 72px;
  margin-bottom: 120px;
}
/* .work-items{
    border: 1px, var(--border-work-item);
} */
.work-items + .work-items {
  margin-left: 24px;
}
/*---------------------------------------Our team------------------------------------*/
.team {
  background-color: var(--logo-footer);
}
.team-list {
  display: flex;
  padding-bottom: 120px;
}
.team-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-item + .team-item {
  margin-left: 24px;
}
.team-net-links{
    padding-bottom: 32px;
}
.team-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-text);

  padding-top: 120px;

  margin-bottom: 72px;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-text);

  padding-top: 32px;
  margin-bottom: 8px;
}
.team-data {
  background-color: var(--main-bg-color);
  text-align: center;
}
.team-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--normal-text);

  padding-bottom: 8px;
}

.team-net {
    fill: var(--logo-footer);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .team-net-links {
    display: flex;
    justify-content: center;
  }
  
  .team-links {
    width: 44px;
    height: 44px;
    display: flex;
    border-radius: 50%;
    background-color: var(--primary-brand);
    justify-content: center;
    align-items: center;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .team-links:hover,
  .team-links:focus {
    background-color: var(--hover-btn);
  }
  
  .team-link-items:hover .team-net,
  .team-link-items:focus .team-net {
    fill: var(--logo-footer);
  }
  
  .team-link-items + .team-link-items {
    margin-left: 10px;
  }

/*-------------------------------------------------Customers---------------------------------*/
.customers-net {
  width: 104px;
  height: 56px;
  fill: var(--icons-customers);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin-bottom: 72px;
  padding-top: 120px;

  color: var(--dark-text);
}
.customers-a {
  display: flex;
  padding: 0px 0px;
  background: var(--main-bg-color);
  border: 1px solid var(--icons-customers);
  border-radius: 4px;
  box-sizing: border-box;
  width: 168px;
  height: 88px;

  justify-content: center;
  align-items: center;
}
.customer-list {
    display: flex;
    padding: 16px, 32px, 16px, 32px;
  
    margin-bottom: 120px;
    flex-wrap: wrap;
    gap: 24px;
  }
  .customers-list {
    max-width: 168px;
    max-height: 88px;
  }
.customers-a:hover {
    border-color: var(--hover-btn);
    cursor: pointer;
  }
  .customers-a:hover .customers-net {
    fill: var(--hover-btn);
  }
  
  .customers-a:focus {
    border-color: var(--hover-btn);
  }
  
  .customers-a:focus .customers-net {
    border-color: var(--hover-btn);
    fill: var(--hover-btn);
  }

/*---------------------Footer------------------------------------------------*/
.footer-space {
  background-color: #2e2f42;
  height: 312px;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-box {
  width: 264px;
  height: 112px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo > span {
  color: var(--logo-footer);
  margin-bottom: 16px;
}
.footer-text {
  margin-top: 16px;
}
/*------------------------------------------Footer social media-----------------------------------*/
.footer-link-word {
    color: var(--main-bg-color);
  
    text-transform: uppercase;
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  
    margin-bottom: 16px;
  }
  .footer-space .container {
    display: flex;
  }
  .footer-soc-link {
    width: 44px;
    height: 44px;
    display: flex;
    border-radius: 50%;
  
    background-color: rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-net {
    fill: #ffffff;
  }
  
  .footer-link-item + .footer-link-item {
    margin-left: 10px;
  }
  
  .footer-links {
    display: flex;
  }
  .networks-footer {
    display: inline-block;
    align-items: baseline;
   
    position: inherit;
    margin-top: 100px;
    margin-left: 120px;
  }
  .footer-content {
    float: left;
    align-items: baseline;
  }
  
  .footer-soc-link:hover,
  .footer-soc-link:focus {
    background-color: var(--icons-hover-footer);
  }

/*---------------------------------------Portfolio---------------------------------------------*/
.header {
  border-bottom: 1px solid var(--border-work-item);
}
.portfolio-btns {
  display: flex;
  justify-content: center;
  margin-top: 96px;
  margin-bottom: 72px;
}
.portfolio-btn-list + .portfolio-btn-list {
  margin-left: 24px;
}
.portfolio-btn {
  border: 1px solid var(--border-work-item);
  background: var(--logo-footer);
  border-radius: 4px;
  padding: 12px 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: #404bbf;
  color: var(--main-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*-------------------------------------Portfolio Cards----------------------------------*/
.portfilio-cards {
  display: flex;
  flex-wrap: wrap;

  margin-top: -48px;
  margin-left: -24px;
  margin-bottom: 120px;
}
.portfilio-cards > .item {
  flex-basis: calc(100% / 3 - 24px);
  outline: 1px solid var(--border-work-item);

  margin-top: 48px;
  margin-left: 24px;
}
.portfolio-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-text);

  margin-top: 32px;
  margin-bottom: 8px;
  margin-left: 16px;
}
.portfolio-group {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--normal-text);

  margin-left: 16px;
  margin-bottom: 32px;
}
